<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBconnection</display-name>
    <servlet-name>DBconnection</servlet-name>
    <servlet-class>s.DBconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBconnection</servlet-name>
    <url-pattern>/DBconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBconnectionn</display-name>
    <servlet-name>DBconnectionn</servlet-name>
    <servlet-class>s.DBconnectionn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBconnectionn</servlet-name>
    <url-pattern>/DBconnectionn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBconnection,</display-name>
    <servlet-name>DBconnection,</servlet-name>
    <servlet-class>s.DBconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBconnection,</servlet-name>
    <url-pattern>/DBconnection,</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertdDATA</display-name>
    <servlet-name>insertdDATA</servlet-name>
    <servlet-class>s.insertdDATA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertdDATA</servlet-name>
    <url-pattern>/insertdDATA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataBaseConnection</display-name>
    <servlet-name>DataBaseConnection</servlet-name>
    <servlet-class>s.DataBaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseConnection</servlet-name>
    <url-pattern>/DataBaseConnection</url-pattern>
  </servlet-mapping>
</web-app>